lib/__pycache__/sparkampserver.cpython-37.pyc
lib/__pycache__/sparkdevices.cpython-37.pyc
lib/__pycache__/sparklistener.cpython-37.pyc
lib/external/__pycache__/SparkCommsClass.cpython-37.pyc
lib/external/__pycache__/SparkReaderClass.cpython-37.pyc
lib/external/__pycache__/__init__.cpython-37.pyc
lib/__pycache__/sparklistener.cpython-37.pyc
lib/__pycache__/sparklistener.cpython-37.pyc
lib/__pycache__/__init__.cpython-37.pyc
lib/external/__pycache__/SparkClass.cpython-37.pyc
lib/__pycache__/__init__.cpython-39.pyc
lib/__pycache__/sparkampserver.cpython-39.pyc
lib/__pycache__/sparkdevices.cpython-39.pyc
lib/__pycache__/sparklistener.cpython-39.pyc
lib/external/__pycache__/__init__.cpython-39.pyc
lib/external/__pycache__/SparkClass.cpython-39.pyc
lib/external/__pycache__/SparkCommsClass.cpython-39.pyc
lib/external/__pycache__/SparkReaderClass.cpython-39.pyc
.vscode/settings.json
pgsparklite.db
database/__pycache__/model.cpython-37.pyc
database/__pycache__/service.cpython-37.pyc
lib/__pycache__/presetdatabase.cpython-37.pyc
database/__pycache__/__init__.cpython-37.pyc
database/__pycache__/__init__.cpython-39.pyc
database/__pycache__/model.cpython-39.pyc
database/__pycache__/service.cpython-39.pyc
lib/__pycache__/common.cpython-37.pyc
lib/__pycache__/messages.cpython-37.pyc
lib/__pycache__/common.cpython-39.pyc
lib/__pycache__/messages.cpython-39.pyc
lib/__pycache__/sparkpreset.cpython-39.pyc
