[Unit]
Description=PGSParkLite Server

[Service]
Type=simple
ExecStart=/home/pi/PGSparkLite/pgsparklite.sh
Restart=always

[Install]
WantedBy=multi-user.target