.acboost {
    padding:20px;        
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0 0 15px black, 0 0 15px black, 0 0 15px black, 0 0 15px black; 
    color: gold;
    font-size: 45px;  
}

.adclean {
    background: white;
    border-width: 3px;
    border-color: black;
    border-style: inset;
    padding: 5px 20px 5px 20px;    
    text-transform: uppercase;        
    color: black;
    font-weight:900;
    font-size: 50px;
}

.americandeluxe {
    background:rgb(95, 19, 19);
    border-width:3px;
    border-style:inset;
    padding: 10px 20px 10px 20px;    
    color: gold;    
    font-size:28px;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
}

.duo {    
    padding:20px;        
    font-family:serif;    
    text-shadow: 0 0 15px black, 0 0 15px black, 0 0 15px black, 0 0 15px black; 
    color: white;
    font-size: 40px;
    font-style:italic;
}

.insane {
    background: white;
    color: black;
    text-align: center;
    padding:20px;
    border-radius:47px;
    border-width:2px;
    border-style:ridge;
    font-size:large;
    font-family:fantasy;
}

.matchdc {
    background: black;
    border-width:1px;
    padding: 10px 20px 10px 20px;    
    color: white;
    text-transform: uppercase;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
}

.plexiglas {
    color: rgb(207, 193, 114);
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0 0 15px black, 0 0 15px black, 0 0 15px black, 0 0 15px black; 
    font-size:40px;
    font-style:italic;
}

.silver120 {
    background: black;
    color: white;
    padding:20px;    
    font-size:large;
    font-family:arial;
    text-transform: uppercase;
}

.tweedbass {
    padding:20px;        
    font-family:serif;    
    text-shadow: 0 0 15px rgb(180, 173, 72), 0 0 15px rgb(180, 173, 72), 0 0 15px rgb(180, 173, 72), 0 0 15px rgb(180, 173, 72); 
    color: white;
    font-size: 50px;
    font-style:italic;
}

.twostone {
    font-family:fantasy;
    font-size:35px;
    color:white;
    text-shadow: 0 0 15px black, 0 0 15px black, 0 0 15px black, 0 0 15px black; 
}
