<!DOCTYPE html>
<html lang="en">

<head>    
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/badges.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="/css/external/iWin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/external/alerty.css" />
    <script src="/js/external/alerty.js"></script>  
    <script src="/js/external/input-knobs.js" type="text/javascript" charset="utf-8"></script>      
    <script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/inputs.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/events.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/settings.js" type="text/javascript" charset="utf-8"></script>            

    <link rel="stylesheet" href="/css/external/jquery.console.min.css" />    
    <script src="/js/external/jquery.console.min.js"></script>

    <script src="/js/external/iWin.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<title>PGSparkLite</title>

{% block content %}{% endblock %}
<div id="loading" class="loading" style="display:none"></div>

</html>