{% macro onoff_buttons(effect_id, state) %}
<div class="onoff_buttons">
    <button data-id="{{ effect_id }}" id="{{ effect_id }}_on"
        class="onoff_button {% if state == 'On' %} selected {% endif %}" value="On" type="submit">ON</button>
    <button data-id="{{ effect_id }}" id="{{ effect_id }}_off"
        class="onoff_button {% if state == 'Off' %} selected {% endif %}" value="Off" type="submit">OFF</button>
</div>
{% endmacro %}

{% macro effect_selector(effect_type, effects, effect_selected) %}
<select class="effect_selector" data-type="{{ effect_type }}" data-selected="{{ effect_selected }}"
    id="{{ effect_type }}_selector">
    {% for id, effect in effects.items() %}
    <option value="{{ id }}" {% if id==effect_selected %} selected {% endif %}>{{ effect["name"] }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro effect_parameters(effect_id, parameters, parameter_values, knob) %}
{% for parameter in parameters %}
<div class="parameter" style="width:{{ parameter.width }}%; {% if parameter.margin %} margin-top:{{ parameter.margin }};{% endif %}">    
    {% if parameter.switch == "true" %}
    <div class="parameter_value">      
        {% if parameter.name %}
        <span>{{ parameter.name }}</span><br/>
        {% endif %}
        <span>{{ parameter.on }}</span><br/>
        <input data-parameter="{{ parameter.id }}" class="input-switch" data-src="./img/knobs/switch_offon.png" data-diameter="50" data-id="{{ effect_id }}" type="checkbox" {% if parameter_values[parameter.id] == 1.0000 %} checked {% endif %}/><br/>
        <span>{{ parameter.off }}</span>
    </div>
    {% else %}
    <div class="parameter_value">        
        <input class="input-knob" type="range" data-parameter="{{ parameter.id }}" data-id="{{ effect_id }}" data-diameter="{{ parameter.diameter }}" data-src="./img/knobs/{{ knob }}.png" data-sprites="100"
            id="{{ effect_id }}_{{ parameter.id }}" min="0.0000" max="1" step="0.0001" onchange="knobChangeEventHandler(this)"
            value="{{ parameter_values[parameter.id] }}" />        
    </div>
    <div class="parameter_label">
        {{ parameter.name }}
    </div>    
    {% endif %}
</div>
{% endfor %}
{% endmacro %}

{% macro effect_container(type, effect, effect_list, selector) %}
{% set effect_config = effect_list[effect["Name"]] %}
{% set topper = effect_config["topper"] %}
{% set badge = effect_config["badge"] %}
{% set background = effect_config["background"] %}
{% set color = effect_config["color"] %}
{% set knob = effect_config["knob"] %}
<div class="effect_header">
    <div class="effect_title">
        {{ type }}
    </div>    
    {% if selector %}
        {{ effect_selector(type, effect_list, effect["Name"]) }}
    {% else %}
    <div class="effect_selector_placeholder"></div>
    {% endif %}
    <div class="effect_onoff">
        {{ onoff_buttons(effect["Name"], effect["OnOff"]) }}
    </div>    
</div>
{% if topper|length %}
<div class="effect_topper" style="background-image:url('./img/toppers/{{ topper }}.jpg')">
    <span class="{{ badge }}">
        {{ effect_config["name"] }}
    </span>
</div>
{% endif %}
<div id="{{ effect["Name"] }}_content" class="effect_content" style="background:{{ background }}; color:{{ color }};">
    <div class="effect_parameters" id="{{ effect["Name"] }}_parameters" data-num={{ effect["Parameters"]|length }}>
        {{ effect_parameters(effect["Name"], effect_config["parameters"], effect["Parameters"], knob)}}
    </div>
</div>
<div class="effect_footer">
    <select class="pedal_preset_selector">
        <option>No preset selected</option>
    </select>
    <div class="pedal_preset_buttons">
        <button class="pedal_preset_button new_pedal_preset" data-id="{{ effect["Name"] }}">NEW</button>
        <button class="pedal_preset_button save_pedal_preset" data-id="{{ effect["Name"] }}">SAVE</button>
        <button class="pedal_preset_button delete_pedal_preset" data-id="{{ effect["Name"] }}">DELETE</button>
    </div>
</div>
{% endmacro %}