{% macro onoff_buttons(effect_id, state) %}
<div class="onoff_buttons">
    <button data-id="{{ effect_id }}" id="{{ effect_id }}_on"
        class="onoff_button {% if state == 'On' %} selected {% endif %}" value="On" type="submit">ON</button>
    <button data-id="{{ effect_id }}" id="{{ effect_id }}_off"
        class="onoff_button {% if state == 'Off' %} selected {% endif %}" value="Off" type="submit">OFF</button>
</div>
{% endmacro %}

{% macro effect_selector(effect_type, effects, effect_selected) %}
<select class="effect-selector" data-type="{{ effect_type }}" data-selected="{{ effect_selected }}"
    id="{{ effect_type }}_selector">
    {% for id, effect in effects.items() %}
    <option value="{{ id }}" {% if id==effect_selected %} selected {% endif %}>{{ effect["name"] }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro effect_parameters(effect_id, parameters, parameter_values) %}
{% for parameter in parameters %}
<div class="parameter">
    <div class="parameter_label">
        {{ parameter.name }}
    </div>
    <div class="parameter_value">
        {% if parameter.switch == "true" %}
        <input data-parameter="{{ parameter.id }}" data-id="{{ effect_id }}" type="checkbox" {% if parameter_values[parameter.id] == 1.0000 %} checked {% endif %}/>
        {% else %}
        <input type="range" data-parameter="{{ parameter.id }}" data-id="{{ effect_id }}"
            id="{{ effect_id }}_{{ parameter.id }}" min="0.0000" max="1" step="0.0001"
            value="{{ parameter_values[parameter.id] }}" />
        {% endif %}
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro effect_container(type, effect, effect_list, selector) %}
<div class="effect_header">
    <div class="effect_title">
        {{ type }}
    </div>    
    <div class="effect_onoff">
        {{ onoff_buttons(effect["Name"], effect["OnOff"]) }}
    </div>    
</div>
<div class="effect_content">
    {% if selector %}
    {{ effect_selector(type, effect_list, effect["Name"]) }}
    {% endif %}
    <div class="effect_parameters">
        {{ effect_parameters(effect["Name"], effect_list[effect["Name"]]["parameters"], effect["Parameters"])}}
    </div>
</div>
{% endmacro %}