{% macro onoff_buttons(effect_type, effect_id, state) %}
<div class="onoff_buttons">
    <button data-type="{{ effect_type }}" data-id="{{ effect_id }}" id="{{ effect_id }}_on"
        class="onoff_button {% if state == 'On' %} selected {% endif %}" value="On" type="submit">ON</button>
    <button data-type="{{ effect_type }}" data-id="{{ effect_id }}" id="{{ effect_id }}_off"
        class="onoff_button {% if state == 'Off' %} selected {% endif %}" value="Off" type="submit">OFF</button>
</div>
{% endmacro %}

{% macro effect_selector(effect_type, effects, effect_selected) %}
<select class="effect_selector" data-type="{{ effect_type }}" data-selected="{{ effect_selected }}"
    id="{{ effect_type }}_selector">
    {% for id, effect in effects.items() %}
    <option value="{{ id }}" {% if id==effect_selected %} selected {% endif %}>{{ effect["name"] }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro chain_preset_selector(chain_presets, preset_selected) %}
<form id="chain_preset_form" action="/" method="POST">
<select name="preset_id" id="chain_preset_selector" class="chain_preset_selector">
    <option value="0">No preset selected</option>
    {% for preset in chain_presets|sort(attribute='name') %}
        <option value="{{ preset.id }}" {% if preset.id==preset_selected %} selected {% endif %}>{{ preset.name }}</option>
    {% endfor %}
</select>
<div class="chain_preset_buttons">
    <button type="button" id="new_chain_preset" class="chain_preset_button"><img title="New Preset" src="/img/icons/add-line.png" /></button>
    <button type="button" id="save_chain_preset" class="chain_preset_button"><img title="Save Preset" src="/img/icons/save-line.png" /></button>
    <button type="button" id="delete_chain_preset" class="chain_preset_button"><img title="Delete Preset" src="/img/icons/delete-bin-line.png" /></button>
</div>
</form>
{% endmacro %}

{% macro effect_footer(effect_name, effect_type, pedal_presets, preset_selected) %}
<select id="{{ effect_type }}_pedal_preset_selector" class="pedal_preset_selector" data-type="{{ effect_type }}" data-id="{{ effect_name }}">
    <option value="0">No preset selected</option>
    {% for preset in pedal_presets|sort(attribute='name') %}
        <option value="{{ preset.id }}" {% if preset.id==preset_selected %} selected {% endif %}>{{ preset.name }}</option>
    {% endfor %}
</select>
<div class="pedal_preset_buttons">
    <button class="pedal_preset_button new_pedal_preset" data-type="{{ effect_type }}"><img title="New Preset" src="/img/icons/add-line.png" /></button>
    <button class="pedal_preset_button save_pedal_preset" data-type="{{ effect_type }}"><img title="Save Preset" src="/img/icons/save-line.png" /></button>
    <button class="pedal_preset_button delete_pedal_preset" data-type="{{ effect_type }}"><img title="Delete Preset" src="/img/icons/delete-bin-line.png" /></button>
</div>
{% endmacro %}

{% macro effect_parameters(effect_id, parameters, parameter_values, knob) %}
{% for parameter in parameters %}
<div class="parameter" style="width:{{ parameter.width }}%; {% if parameter.margin %} margin-top:{{ parameter.margin }};{% endif %}">    
    {% if parameter.hidden == "true" %}
        <input type="hidden" id="{{ effect_id }}_{{ parameter.id }}" value="{{ parameter_values[parameter.id] }}"/>
    {% elif parameter.switch == "true" %}
    <div class="parameter_value">      
        {% if parameter.name %}
        <span>{{ parameter.name }}</span><br/>
        {% endif %}
        <span>{{ parameter.on }}</span><br/>
        <input id="{{ effect_id }}_{{ parameter.id }}" data-parameter="{{ parameter.id }}" class="input-switch" data-src="./img/knobs/switch_offon.png" 
        data-diameter="50" data-id="{{ effect_id }}" type="checkbox" 
        {% if parameter_values[parameter.id] == 1.0000 %} checked value="1.0000" {% else %} value="0.0000" {% endif %}/><br/>
        <span>{{ parameter.off }}</span>
    </div>
    {% else %}
    <div class="parameter_value">        
        <input class="input-knob" type="range" data-parameter="{{ parameter.id }}" data-id="{{ effect_id }}" data-diameter="{{ parameter.diameter }}" 
        data-src="./img/knobs/{{ knob }}.png" data-sprites="100"
            id="{{ effect_id }}_{{ parameter.id }}" min="0.0000" max="1" step="0.0001" onchange="knobChangeEventHandler(this)"
            value="{{ parameter_values[parameter.id] }}" />        
    </div>
    <div class="parameter_label">
        {{ parameter.name }}
    </div>    
    {% endif %}
</div>
{% endfor %}
{% endmacro %}

{% macro effect_container(type, effect, effect_list, selector, presets) %}
{% set effect_config = effect_list[effect["Name"]] %}
{% set topper = effect_config["topper"] %}
{% set badge = effect_config["badge"] %}
{% set background = effect_config["background"] %}
{% set color = effect_config["color"] %}
{% set knob = effect_config["knob"] %}
{% set name = effect["Name"] %}
{% set onoff = effect["OnOff"] %}
{% set visible = effect["visible"] %}
{% set preset_id = effect["preset_id"] %}
<div class="effect_header">
    <div class="effect_title">
        <div id="{{ type }}_showhidecontent" class="showhidecontent {% if onoff =='On' and visible %} collapse_open {% else %} collapse_closed {% endif %}" data-type="{{ type }}" data-id="{{ name }}"></div> {{ type }}
    </div>    
    {% if selector %}
        {{ effect_selector(type, effect_list, name) }}
    {% else %}
    <div class="effect_selector_placeholder"></div>
    {% endif %}
    <div class="effect_onoff">
        {{ onoff_buttons(type, name, onoff) }}
    </div>    
</div>
<div id="{{ name }}_content" class="effect_content" {% if not visible or onoff == 'Off' %} style="display:none;" {% endif %}>
    {% if topper|length %}
    <div class="effect_topper" style="background-image:url('./img/toppers/{{ topper }}.jpg')">
        <span class="{{ badge }}">
            {{ effect_config["name"] }}
        </span>
    </div>
    {% endif %}
    <div class="effect_parameters" style="background:{{ background }}; color:{{ color }};" id="{{ name }}_parameters" data-num={{ effect["Parameters"]|length }}>
        {{ effect_parameters(name, effect_config["parameters"], effect["Parameters"], knob)}}
    </div>    
    <div id="{{ type }}_footer" class="effect_footer">
        {{ effect_footer(name, type, presets, preset_id)}}
    </div>
</div>
{% endmacro %}