{% extends 'layout.html' %}
{% from 'macros.html' import effect_container, chain_preset_selector %}
{% block content %}

<div class="preset_container">    
    <button id="preset_0" class="preset_button {% if config.preset == 0 %} selected {% endif %} {% if config.preset == 0 and preset_selected != 0 %} flash {% endif %}" name="preset" value="0">1</button>
    <button id="preset_1" class="preset_button {% if config.preset == 1 %} selected {% endif %} {% if config.preset == 1 and preset_selected != 0 %} flash {% endif %}" name="preset" value="1">2</button>
    <button id="preset_2" class="preset_button {% if config.preset == 2 %} selected {% endif %} {% if config.preset == 2 and preset_selected != 0 %} flash {% endif %}" name="preset" value="2">3</button>
    <button id="preset_3" class="preset_button {% if config.preset == 3 %} selected {% endif %} {% if config.preset == 3 and preset_selected != 0 %} flash {% endif %}" name="preset" value="3">4</button>

    <div class="preset_details">
        <div class="preset_name"><h2>{{ config.presetName }}</h2></div>
        <div class="preset_bpm"><span id="preset-bpm">{{ config.bpm|round|int }}</span> BPM <button class="set_bpm_button" id="set-bpm">SET</button></div>        
    </div>

    <div id="chain_preset_container">        
        {{ chain_preset_selector(chain_presets, preset_selected) }}        
    </div>
</div>

<div id="GATE_container" class="effect_container {% if config.gate["OnOff"] == 'Off' %} grayscale {% endif %}">
    {{ effect_container("GATE", config.gate, config.gates, False, pedal_presets["GATE"]) }}
</div>
 <div id="COMP_container" class="effect_container {% if config.comp["OnOff"] == 'Off' %} grayscale {% endif %}">
    {{ effect_container("COMP", config.comp, config.comps, True, pedal_presets["COMP"]) }}
</div>
<div id="DRIVE_container" class="effect_container {% if config.drive["OnOff"] == 'Off' %} grayscale {% endif %}">
    {{ effect_container("DRIVE", config.drive, config.drives, True, pedal_presets["DRIVE"]) }}
</div>
<div id="AMP_container" class="effect_container {% if config.amp["OnOff"] == 'Off' %} grayscale {% endif %}">
    {{ effect_container("AMP", config.amp, config.amps, True, pedal_presets["AMP"]) }}
</div>
<div id="MOD_container" class="effect_container {% if config.modulation["OnOff"] == 'Off' %} grayscale {% endif %}">
    {{ effect_container("MOD", config.modulation, config.modulations, True, pedal_presets["MOD"]) }}
</div>
<div id="DELAY_container" class="effect_container {% if config.delay["OnOff"] == 'Off' %} grayscale {% endif %}">
    {{ effect_container("DELAY", config.delay, config.delays, True, pedal_presets["DELAY"]) }}
</div>
<div id="REVERB_container" class="effect_container {% if config.reverb["OnOff"] == 'Off' %} grayscale {% endif %}">
    {{ effect_container("REVERB", config.reverb, config.reverbs, True, pedal_presets["REVERB"]) }}
</div>
<div class="eject">
    <button class="eject_button" id="eject">Eject</button>
    <!-- <button id="reset-config">Reload Config</button>  -->
</div>
{% endblock %}
